<mat-tab-group>
  <mat-tab label=" User Information ">
    <form>
      <mat-form-field>
        <input matInput value="{{ token.username }}" disabled />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.email }}" disabled />
        <mat-icon matSuffix (click)="onChange()">create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.role }}" />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compName }}" disabled />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compAddress }}" disabled />
        <mat-icon matSuffix (click)="onChange()">create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compCRANumber }}" />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compCity }}" disabled />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compCode }}" disabled />
        <mat-icon matSuffix (click)="onChange()">create</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput value="{{ token.details.compProvince }}" />
        <mat-icon matSuffix>create</mat-icon>
      </mat-form-field>
    </form>
  </mat-tab>

  <mat-tab label=" Candindate"> </mat-tab>
</mat-tab-group>
