<!-- <div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="auto">
    <mat-card-content>
      <div class="container">
        <span> Welcome , {{ user.firstName }}</span>
      
        <button
          at-raised-button
          class="button-style"
          [matMenuTriggerFor]="main"
        >
          Main Menu
        </button>
        <br />
        
        <button
          mat-raised-button
          class="button-style"
          [matMenuTriggerFor]="users"
        >
          Users Menu
        </button>
        
        <button
          mat-raised-button
          class="button-style"
          [matMenuTriggerFor]="company"
        >
          Companies Menu
        </button>
        
        <button
          mat-raised-button
          class="button-style"
          [matMenuTriggerFor]="jobs"
        >
          Jobs Menu
        </button>
      </div>

      <mat-menu #main="matMenu" class="menu-style">
        <button mat-menu-item [matMenuTriggerFor]="users">Users</button>
        <button mat-menu-item [matMenuTriggerFor]="company">Companies</button>
        <button mat-menu-item [matMenuTriggerFor]="jobs">Jobs</button>
      </mat-menu>

      <mat-menu #users="matMenu">
        <button mat-menu-item>
          <a routerLink="/admin_newUser"> Add New User</a>
        </button>
        <button mat-menu-item>
          <a routerLink="/admin_userList"> List Users</a>
        </button>
      </mat-menu>

      <mat-menu #company="matMenu">
        <button mat-menu-item>
          <a routerLink="/admin_companyList">List Companies</a>
        </button>
      </mat-menu>
      <mat-menu #jobs="matMenu">
        <button mat-menu-item>
          <a routerLink="/admin_mamangeJobs">List jobs</a>
        </button>
      </mat-menu>
    </mat-card-content>
  </mat-card>
</div> -->

<div id="body" [@slideUp]="state">
  <h1>Admin Menu</h1>
  <mat-divider></mat-divider>
  <div class="tile">
    <button
      mat-button
      color="primary"
      mat-raised-button
      [matMenuTriggerFor]="user"
    >
      Users
    </button>
  </div>
  <div class="tile">
    <button
      mat-button
      color="primary"
      mat-raised-button
      [matMenuTriggerFor]="company"
    >
      Companies
    </button>
  </div>
  <div class="tile">
    <button
      mat-button
      color="primary"
      mat-raised-button
      [matMenuTriggerFor]="job"
    >
      Jobs
    </button>
  </div>
</div>

<mat-menu #user="matMenu">
  <button mat-menu-item routerLink="/admins/admin_newUser">
    Add New User
  </button>
  <button mat-menu-item routerLink="/admins/admin_userList">
    List Users
  </button>
</mat-menu>

<mat-menu #company="matMenu">
  <button mat-menu-item routerLink="/admins/admin_companyList">
    List Companies
  </button>
</mat-menu>
<mat-menu #job="matMenu">
  <button mat-menu-item routerLink="/admins/admin_mamangeJobs">
    List jobs
  </button>
</mat-menu>
