<div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="auto">
    <span> User List</span>
    <div class="container">
      <button mat-raised-button class="button-style" routerLink="/adminPages">
        Main Menu
      </button>
      <button
        mat-raised-button
        class="button-style"
        routerLink="/admin_newUser"
      >
        Create New User
      </button>
    </div>

    <mat-table [dataSource]="dataSource">
      <ng-container hidden matColumnDef="_id">
        <mat-header-cell class="colum-size" *matHeaderCellDef>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data._id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell class="colum-size" *matHeaderCellDef>
          Email
        </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.email }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell class="colum-size" *matCellDef="let data">{{
          data.role
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-raised-button class="button-style1">
            Edit
          </button>
          <br />
          <button mmat-raised-button class="button-style1">
            Delete
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
    </mat-table>
  </mat-card>
</div>
