<div fxLayout="column" fxLayoutAlign="center center">
    <ul id="img-ul" 
        fxLayoutGap="15px">
        <li><img src="../assets/logo/fb-logo.png" alt="facebook" class="logo"/></li>
        <li><img src="../assets/logo/insta-logo.png" alt="inst" class="logo"/></li>
        <li><img src="../assets/logo/twitter-logo.png" alt="twitter" class="logo"/></li>
    </ul>

    <ul id="map-ul"
        fxLayoutGap="15px"
        fxLayout.xs="row wrap">
        <li><a href="/home">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/register">Sign up</a></li>
        <li><a href="/test">Company Details</a></li>
    </ul>




</div>