<div class="wraper" fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter new password" #new />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm password"
          #confirm
        />
      </mat-form-field>

      <div class="validation-wraper">
        <div *ngIf="err">{{ err }}</div>
      </div>

      <button
        mat-button
        class="login-btn"
        (click)="changePassword(new.value, confirm.value)"
      >
        Confirm change
      </button>
    </mat-card-content>
  </mat-card>
</div>
