<div id="body">
  <h1>Change Password</h1>
  <div class="tile">
    <mat-form-field>
      <input matInput type="password" placeholder="Enter new password" #new />
    </mat-form-field>
  </div>

  <div class="tile">
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm password" #confirm />
    </mat-form-field>
    <div class="validation-wraper">
      <div *ngIf="err">{{ err }}</div>
    </div>
  </div>

  <div class="tile">
    <div class="item">
      <button
        mat-button
        mat-raised-button
        color="primary"
        class="login-btn"
        (click)="changePassword(new.value, confirm.value)"
      >
        Confirm change
      </button>
    </div>
  </div>
</div>
