.container > * {
  width: 100%;
}

#login-btn {
  background-color: #4285f4;
  color: white;
  border-radius: 2px;
}

#signup-btn {
  color: black;
}

.button-style {
  width: 100%;
  font-size: 15px;
}

a {
  font-size: 12px;
  cursor: pointer;
}
