.container > *{
    width: 100%;
}

.wraper {
    text-align: center;
}
#login-btn {
    background-color: #4285F4;
    color: white;
}

#signup-btn {
    color: black;
}

.button-style {
    width: 100%;
    height: 50px;
    font-size: 15px;
}

a {
    font-size: 12px;
    cursor: pointer;
}

