@import '~@angular/material/theming';

@mixin card-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme , accent );

    div.mat-card-header-text { 
        margin: 0;
    }

    mat-card {
        width: 25%;
        height: 500px;
        margin: 0 auto;
    }
    
}