<mat-toolbar color="primary">
  <span class="fill-remaining-space"
    >{{ user.details.canFirstName }}
    {{ user.details.canLastName }} Details</span
  >
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <div class="container">
        <p>Username: {{ user.username }}</p>
        <p>Profession: {{ user.details.canActualJob }}</p>
        <p>School: {{ user.details.canEducation }}</p>
        <p>
          Address: <br />{{ user.details.canAddress }} <br />{{
            user.details.canCity
          }}, {{ user.details.canProvince }} <br />{{
            user.details.canPostalCode
          }}
        </p>
        <p>Link: {{ user.details.canLink }}</p>
      </div>

      <button
        mat-flat-button
        class="mat-elevation-z8"
        color="accent"
        (click)="match(jobID)"
      >
        Match
      </button>
      <button
        mat-flat-button
        class="mat-elevation-z8"
        color="accent"
        (click)="cancel()"
      >
        Cancel
      </button>
    </mat-card-content>
  </mat-card>
</div>
