<div
  class="wraper"
  fxLayout="column"
  fxLayoutAlign="center center"
  [@slideUp]="state"
>
  <div id="body">
    <h3>Company Register</h3>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fill out your name</ng-template>
          <mat-form-field>
            <mat-label>Company Name</mat-label>
            <input matInput formControlName="compName" required />
            <mat-error>Company Name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Company CRA Number</mat-label>
            <input matInput formControlName="compCRANumber" required />
            <mat-error>Company CRA Number is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Company Phone </mat-label>
            <input matInput formControlName="compPhone" required />
            <mat-error
              *ngIf="firstFormGroup.controls['compPhone'].errors?.required"
              >Company Phone required</mat-error
            >
            <mat-error
              *ngIf="firstFormGroup.controls['compPhone'].errors?.pattern"
              >Wrong Format try 999-999-9999
            </mat-error>
          </mat-form-field>
          <br /><br />
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Address Information name</ng-template>

          <mat-form-field>
            <input matInput formControlName="compAddress" required />
            <mat-error>Company Address is required</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="compCity" required />
            <mat-error>Company City is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="compProvince" required />
            <mat-error>Province Required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput formControlName="compCode" required />
            <mat-error
              *ngIf="secondFormGroup.controls['compCode'].errors?.required"
            >
              Postal Code Required
            </mat-error>
            <mat-error
              *ngIf="secondFormGroup.controls['compCode'].errors?.pattern"
            >
              Wrong Format of Postal Code
            </mat-error>
          </mat-form-field>
          <br /><br />
          <div>
            <button mat-button matStepperBack>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Contact Person</ng-template>
          <mat-form-field>
            <mat-label>Contact Person</mat-label>
            <input matInput formControlName="compContact" required />
            <mat-error>Contact Person required</mat-error>
          </mat-form-field>
          <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <form class="button-row">
          <ng-template matStepLabel>Complete the registration</ng-template>
          <button
            mat-button
            mat-raised-button
            color="primary"
            (click)="onSubmit()"
          >
            Submit
          </button>

          <!-- Cancel Button -->
          <button mat-raised-button routerLink="/home">
            Cancel
          </button>
          <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
