<div id="body" [@slideUp]="state">
  <!-- The title display, it can be Add or Modify and the space between two -->
  <mat-card-title>
    <span>Modify User</span>
    <span class="fill-remaining-space"></span>
  </mat-card-title>
  <mat-divider></mat-divider>

  <div class="tile">
    <button
      mat-raised-button
      color="primary"
      routerLink="/admins/admin_userList"
    >
      User List
    </button>
  </div>

  <div class="tile">
    <form autocomplete="off" [formGroup]="service.form">
      <!-- USER NAME-->
      <mat-form-field>
        <input
          required
          formControlName="username"
          matInput
          placeholder="Username:"
          #username
        />
      </mat-form-field>
      <!-- USER EMAIL-->
      <mat-form-field>
        <input
          required
          formControlName="email"
          matInput
          placeholder="Email:"
          #email
        />
      </mat-form-field>

      <!-- ROLE-->
      <!-- <mat-form-field>
        <mat-select placeholder="Role" formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{ r.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field>
        <input
          required
          formControlName="role"
          matInput
          placeholder="Role:"
          #role
        />
      </mat-form-field>
    </form>
  </div>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        class="button-style"
        type="submit"
        [disabled]="service.invalid"
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>

    <div class="item">
      <button mat-raised-button class="button-style" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
</div>
