<!-- <div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="auto">
    <mat-card-content>
      <span> Add & Edit Users</span>

      <div class="container">
        <button mat-raised-button class="button-style" routerLink="/adminPages">
          Main Menu
        </button>

        <button
          mat-raised-button
          class="button-style"
          routerLink="/admin_userList"
        >
          User List
        </button>
      </div>
      <form
        autocomplete="off"
        [formGroup]="userService.form"
        (click)="onSubmit()"
      >
        <mat-grid-list cols="2" rowHeight="300px">
          <mat-grid-tile>
            <div class="container">
              <mat-form-field hidden>
                <input formControlName="_id" matInput placeholder="ID *" #_id />
              </mat-form-field>

              <mat-form-field>
                <input
                  required
                  formControlName="username"
                  matInput
                  placeholder="User Name:"
                  #username
                />
              </mat-form-field>

              <mat-form-field>
                <input
                  required
                  formControlName="email"
                  matInput
                  placeholder="User Email:"
                  #email
                />
              </mat-form-field>

              <mat-form-field>
                <mat-select placeholder="Role" formControlName="role">
                  <mat-option *ngFor="let r of roles" [value]="r.value">
                    {{ r.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div class="container">
                <div class="button-row">
                  <button
                    mat-raised-button
                    class="button-style"
                    type="submit"
                    [disabled]="userService.invalid"
                  >
                    Submit
                  </button>

                  <button
                    mat-raised-button
                    class="button-style"
                    (click)="onClear()"
                  >
                    Clear
                  </button>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div> -->

<div id="body" [@slideUp]="state">
  <h1>Add & Edit Users</h1>
  <mat-divider></mat-divider>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        color="primary"
        routerLink="/admins/admin_userList"
      >
        User List
      </button>
    </div>
  </div>

  <div class="tile">
    <form
      autocomplete="off"
      [formGroup]="userService.form"
      (click)="onSubmit()"
    >
      <mat-form-field hidden>
        <input formControlName="_id" matInput placeholder="ID *" #_id />
      </mat-form-field>

      <mat-form-field>
        <input
          required
          formControlName="username"
          matInput
          placeholder="User Name:"
          #username
        />
      </mat-form-field>

      <mat-form-field>
        <input
          required
          formControlName="email"
          matInput
          placeholder="User Email:"
          #email
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Role" formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{ r.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        class="button-style"
        type="submit"
        [disabled]="userService.invalid"
        color="primary"
      >
        Submit
      </button>
    </div>

    <div class="item">
      <button mat-raised-button class="button-style" (click)="navigate('back')">
        Cancel
      </button>
    </div>
  </div>
</div>
