<div id="body" [@slideUp]="state">
  <h1>Add & Edit Users</h1>
  <mat-divider></mat-divider>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        color="primary"
        routerLink="/admins/admin_userList"
      >
        User List
      </button>
    </div>
  </div>

  <div class="tile">
    <form
      autocomplete="off"
      [formGroup]="userService.form"
      (click)="onSubmit()"
    >
      <mat-form-field>
        <input
          required
          formControlName="username"
          matInput
          placeholder="User Name:"
          #username
        />
      </mat-form-field>

      <mat-form-field>
        <input
          required
          formControlName="email"
          matInput
          placeholder="User Email:"
          #email
        />
      </mat-form-field>
      <mat-form-field>
        <input
          required
          formControlName="userFirstName"
          matInput
          placeholder="User First Name:"
          #userFirstName
        />
      </mat-form-field>
      <mat-form-field>
        <input
          required
          formControlName="userLastName"
          matInput
          placeholder="User Last Name:"
          #userLastName
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          required
          formControlName="password"
          matInput
          placeholder="User Password:"
          #password
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Role" formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{ r.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        class="button-style"
        type="submit"
        [disabled]="userService.invalid"
        color="primary"
      >
        Submit
      </button>
    </div>

    <div class="item">
      <button mat-raised-button class="button-style" (click)="navigate('back')">
        Cancel
      </button>
    </div>
  </div>
</div>
