<div id="body" [@slideUp]="state">
  <!-- The title display, it can be Add or Modify and the space between two -->
  <mat-card-title>
    <span>{{
      this.userForm.controls['_id'].value ? 'Modify User' : 'Add New User'
    }}</span>
    <span class="fill-remaining-space"></span>
  </mat-card-title>
  <mat-divider></mat-divider>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        color="primary"
        routerLink="/admins/admin_userList"
      >
        User List
      </button>
    </div>
  </div>

  <div class="tile">
    <form autocomplete="off" [formGroup]="adminForm">
      <mat-form-field>
        <input
          required
          formControlName="userFirstName"
          matInput
          placeholder="First Name:"
          #userFirstName
        />
      </mat-form-field>
      <mat-form-field>
        <input
          required
          formControlName="adminForm"
          matInput
          placeholder="Last Name:"
          #userLastName
        />
      </mat-form-field>
    </form>
    <form autocomplete="off" [formGroup]="userForm">
      <mat-form-field>
        <input
          required
          formControlName="username"
          matInput
          placeholder="Username:"
          #username
        />
      </mat-form-field>

      <mat-form-field>
        <input
          required
          formControlName="email"
          matInput
          placeholder="Email:"
          #email
        />
      </mat-form-field>

      <mat-form-field>
        <input
          type="password"
          required
          formControlName="password"
          matInput
          placeholder="Password:"
          #password
        />
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Role" formControlName="role">
          <mat-option *ngFor="let r of roles" [value]="r.value">
            {{ r.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="tile">
    <div class="item">
      <button
        mat-raised-button
        class="button-style"
        type="submit"
        [disabled]="userService.invalid"
        color="primary"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>

    <div class="item">
      <button mat-raised-button class="button-style" (click)="navigate('back')">
        Cancel
      </button>
    </div>
  </div>
</div>
