@import '~@angular/material/theming';

@mixin input-theme($theme){
    $primary: map-get($theme, primary);
    $accent : map-get($theme, accent);
    $warn : map-get($theme , warn);

    .mat-form-field-empty.mat-form-field-label,
    .mat-radio-label,
    .mat-checkbox-label, mat-card-title, label{
        color: mat-color($primary);
    }

    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background-color: mat-color($primary);
    }
    .mat-checkbox-frame,
    .mat-radio-outer-circle {
        border-color: mat-color($primary);
    }

    a {
        color: mat-color($primary);
    }

    .mat-form-field {
        height: 50px;
    }
    .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
        color: mat-color($primary);
    }

    .validation-wraper {
        height: 15px;
        border: 1px solid transparent;
        color: mat-color($mat-red, A400);
        font-size: 12px;
        padding-bottom: 8px;
    }
}
