.wraper {
  padding-top: 40px;
  padding-bottom: 40px;
}

mat-card {
  margin: auto;
}

mat-error {
  color: red;
}

mat-card {
  min-width: 450px;
}

.login-btn:disabled {
  background-color: green;
  color: black;
}

h3 {
  max-width: 70%;
  margin: auto;
}
