<div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card fxFlex="auto">
    <form autocomplete="off" [formGroup]="candidateRegisterForm">
      <mat-grid-list cols="3" rowHeight="55px" gutterSize="20px">
        <!-- canID-->
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <mat-label>Candidate ID</mat-label>
            <input matInput type="text" formControlName="canId" />
          </mat-form-field>
        </mat-grid-tile>

        <!-- First Name -->
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="canFirstName" />
            <mat-error
              *ngIf="
                canFirstName.invalid &&
                canFirstName.errors.hasOwnProperty('required')
              "
              >First Name is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Last Name -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="canLastName" />
            <mat-error
              *ngIf="
                canLastName.invalid &&
                canLastName.errors.hasOwnProperty('required')
              "
              >Last Name is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Education -->
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <mat-label>Education</mat-label>
            <mat-icon matSuffix>school</mat-icon>
            <input matInput type="text" formControlName="canEducation" />
            <mat-error
              *ngIf="
                canEducation.invalid &&
                canEducation.errors.hasOwnProperty('required')
              "
              >Education is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Occupation -->
        <mat-grid-tile colspan="3">
          <mat-form-field>
            <mat-label>Occupation</mat-label>
            <mat-icon matSuffix>work</mat-icon>
            <input matInput type="text" formControlName="canActualJob" />
            <mat-error
              *ngIf="
                canActualJob.invalid &&
                canActualJob.errors.hasOwnProperty('required')
              "
              >Occupation is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- LinkedIn URL -->
        <mat-grid-tile colspan="2">
          <mat-form-field>
            <mat-label>LinkedIn URL</mat-label>
            <input matInput type="text" formControlName="canLink" />
          </mat-form-field>
        </mat-grid-tile>

        <!-- Phone Number -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="canPhone" />
            <mat-error
              *ngIf="
                canPhone.invalid && canPhone.errors.hasOwnProperty('required')
              "
              >Phone Number is required</mat-error
            >
            <mat-error
              *ngIf="
                canPhone.invalid && canPhone.errors.hasOwnProperty('pattern')
              "
              >Phone Number is not valid</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Address -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="canAddress" />
            <mat-error
              *ngIf="
                canAddress.invalid &&
                canAddress.errors.hasOwnProperty('required')
              "
              >Address is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- City -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="canCity" />
            <mat-error
              *ngIf="
                canCity.invalid && canCity.errors.hasOwnProperty('required')
              "
              >City is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Province -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Province</mat-label>
            <input matInput type="text" formControlName="canProvince" />
            <mat-error
              *ngIf="
                canProvince.invalid &&
                canProvince.errors.hasOwnProperty('required')
              "
              >Province is required</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <!-- Postal Code -->
        <mat-grid-tile>
          <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input matInput type="text" formControlName="canPostalCode" />
            <mat-error
              *ngIf="
                canPostalCode.invalid &&
                canPostalCode.errors.hasOwnProperty('required')
              "
              >Postal Code is required</mat-error
            >
            <mat-error
              *ngIf="
                canPostalCode.invalid &&
                canPostalCode.errors.hasOwnProperty('pattern')
              "
              >Postal Code is not valid</mat-error
            >
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile colspan="2"> </mat-grid-tile>

        <!-- Submit Button -->
        <mat-grid-tile colspan="1">
          <button
            mat-flat-button
            color="accent"
            [disabled]="!candidateRegisterForm.valid"
            (click)="signup()"
          >
            Submit
          </button>
        </mat-grid-tile>

        <!-- Cancel Button -->
        <mat-grid-tile>
          <button mat-flat-button color="basic">Cancel</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>
</div>
