<div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <div id="body" [@slideUp]="state">
    <h3>Candidate Register</h3>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form autocomplete="off" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>General Information</ng-template>
          <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="canFirstName" />
            <mat-error
              *ngIf="
                canFirstName.invalid &&
                canFirstName.errors.hasOwnProperty('required')
              "
              >First Name is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="canLastName" />
            <mat-error
              *ngIf="
                canLastName.invalid &&
                canLastName.errors.hasOwnProperty('required')
              "
              >Last Name is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Education</mat-label>
            <mat-icon matSuffix>school</mat-icon>
            <input matInput type="text" formControlName="canEducation" />
            <mat-error
              *ngIf="
                canEducation.invalid &&
                canEducation.errors.hasOwnProperty('required')
              "
              >Education is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Occupation</mat-label>
            <mat-icon matSuffix>work</mat-icon>
            <input matInput type="text" formControlName="canActualJob" />
            <mat-error
              *ngIf="
                canActualJob.invalid &&
                canActualJob.errors.hasOwnProperty('required')
              "
              >Occupation is required</mat-error
            >
          </mat-form-field>

          <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form autocomplete="off" [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Contact</ng-template>
          <mat-form-field>
            <mat-label>LinkedIn URL</mat-label>
            <input matInput type="text" formControlName="canLink" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Phone Number</mat-label>
            <input matInput type="text" formControlName="canPhone" />
            <mat-error
              *ngIf="
                canPhone.invalid && canPhone.errors.hasOwnProperty('required')
              "
              >Phone Number is required</mat-error
            >
            <mat-error
              *ngIf="
                canPhone.invalid && canPhone.errors.hasOwnProperty('pattern')
              "
              >Phone Number is not valid</mat-error
            >
          </mat-form-field>
          <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <ng-template matStepLabel>Address</ng-template>
        <form autocomplete="off" [formGroup]="thirdFormGroup">
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="canAddress" />
            <mat-error
              *ngIf="
                canAddress.invalid &&
                canAddress.errors.hasOwnProperty('required')
              "
              >Address is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput type="text" formControlName="canCity" />
            <mat-error
              *ngIf="
                canCity.invalid && canCity.errors.hasOwnProperty('required')
              "
              >City is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Province</mat-label>
            <input matInput type="text" formControlName="canProvince" />
            <mat-error
              *ngIf="
                canProvince.invalid &&
                canProvince.errors.hasOwnProperty('required')
              "
              >Province is required</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <mat-label>Postal Code</mat-label>
            <input matInput type="text" formControlName="canPostalCode" />
            <mat-error
              *ngIf="
                canPostalCode.invalid &&
                canPostalCode.errors.hasOwnProperty('required')
              "
              >Postal Code is required</mat-error
            >
            <mat-error
              *ngIf="
                canPostalCode.invalid &&
                canPostalCode.errors.hasOwnProperty('pattern')
              "
              >Postal Code is not valid</mat-error
            >
          </mat-form-field>
          <br /><br />
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
        <ng-template matStepLabel>Complete registration</ng-template>
        <button mat-button mat-raised-button color="primary" (click)="signup()">
          Submit
        </button>

        <!-- Cancel Button -->
        <button mat-raised-button routerLink="/home">
          Cancel
        </button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
