/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";


@font-face {
    font-family: "NotoSans";
    src : url("./assets/fonts/Roboto-Regular.ttf");
}

body {
    width: 1368px;
    margin: 0 auto;
    font-family: 'NotoSans';
}

