<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <form autocomplete="off" [formGroup]="registerForm">
        <div class="container">
          <!-- Username -->
          <mat-form-field>
            <input
              matInput
              type="text"
              formControlName="username"
              placeholder="Username"
            />
          </mat-form-field>
          <div class="validation-wraper">
            <div
              *ngIf="username.invalid && (username.dirty || username.touched)"
            >
              <p *ngIf="(username.errors | firstErrPipe) === 'required'">
                Username is required
              </p>
              <p *ngIf="(username.errors | firstErrPipe) === 'minlength'">
                Minimum of 6 characters
              </p>
              <p *ngIf="(username.errors | firstErrPipe) === 'pattern'">
                Username contains alphabetic characters, numbers and underscore
              </p>
              <p *ngIf="(username.errors | firstErrPipe) === 'maxlength'">
                Maximum of 25 characters
              </p>
              <p *ngIf="(username.errors | firstErrPipe) === 'userExisting'">
                Username is taken!!!
              </p>
            </div>
            <p *ngIf="username.valid" style="color: green">
              This username can be used
            </p>
          </div>
          <!-- Email  -->
          <mat-form-field>
            <input
              matInput
              type="text"
              placeholder="Email Address"
              formControlName="email"
            />
          </mat-form-field>
          <!-- Email validation -->
          <div class="validation-wraper">
            <div *ngIf="email.invalid && (email.dirty || email.touched)">
              <p *ngIf="(email.errors | firstErrPipe) === 'required'">
                Email is required
              </p>
              <p *ngIf="(email.errors | firstErrPipe) === 'pattern'">
                Invalid email address
              </p>
              <p *ngIf="(email.errors | firstErrPipe) === 'emailExisting'">
                This email has been used
              </p>
            </div>
            <p *ngIf="email.valid" style="color: green">
              This email can be used
            </p>
          </div>

          <!-- Password -->
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </mat-form-field>
          <!-- Password validation -->
          <div class="validation-wraper">
            <div
              *ngIf="password.invalid && (password.dirty || password.touched)"
            >
              <p *ngIf="password.errors?.required">Password is required</p>
            </div>
          </div>

          <!-- Confirm -->
          <mat-form-field>
            <input
              matInput
              type="password"
              placeholder="Confirm Password"
              formControlName="confirm"
            />
          </mat-form-field>
          <div class="validation-wraper">
            <p
              *ngIf="
                (confirm.dirty ||
                  confirm.touched ||
                  password.dirty ||
                  password.touched) &&
                registerForm.errors?.notMatched
              "
            >
              Password mismatch
            </p>
          </div>
          <br />
          <mat-radio-group formControlName="mode">
            <mat-radio-button [value]="modes[0]" checked>{{
              modes[0]
            }}</mat-radio-button>
            <mat-radio-button [value]="modes[1]"
              >Hiring Company</mat-radio-button
            >
          </mat-radio-group>
          <br />
          <br />
          <mat-checkbox color="accent" formControlName="checkbox"
            >I agree with the
            <a href="" onclick="return false;" (click)="showtos()"
              >Terms of Service</a
            ></mat-checkbox
          >
          <div id="tos" *ngIf="show">
            <h4>Terms and Conditions ("Terms")</h4>
            <p>Last updated: March 14, 2019</p>
            <p>
              Please read these Terms and Conditions ("Terms", "Terms and
              Conditions") carefully before using the jcconsulting.com website
              (the "Service") operated by JC Consulting ("us", "we", or "our").
            </p>
            <p>
              Your access to and use of the Service is conditioned on your
              acceptance of and compliance with these Terms. These Terms apply
              to all visitors, users and others who access or use the Service.
            </p>
            <p>
              By accessing or using the Service you agree to be bound by these
              Terms. If you disagree with any part of the terms then you may not
              access the Service.
            </p>

            <b>Accounts</b>
            <p>
              When you create an account with us, you must provide us
              information that is accurate, complete, and current at all times.
              Failure to do so constitutes a breach of the Terms, which may
              result in immediate termination of your account on our Service.
            </p>
            <p>
              You are responsible for safeguarding the password that you use to
              access the Service and for any activities or actions under your
              password, whether your password is with our Service or a
              third-party service.
            </p>
            <p>
              You agree not to disclose your password to any third party. You
              must notify us immediately upon becoming aware of any breach of
              security or unauthorized use of your account.
            </p>

            <b>Links To Other Web Sites</b>
            <p>
              Our Service may contain links to third-party web sites or services
              that are not owned or controlled by JC Consulting.
            </p>
            <p>
              JC Consulting has no control over, and assumes no responsibility
              for, the content, privacy policies, or practices of any third
              party web sites or services. You further acknowledge and agree
              that JC Consulting shall not be responsible or liable, directly or
              indirectly, for any damage or loss caused or alleged to be caused
              by or in connection with use of or reliance on any such content,
              goods or services available on or through any such web sites or
              services.
            </p>
            <p>
              We strongly advise you to read the terms and conditions and
              privacy policies of any third-party web sites or services that you
              visit.
            </p>

            <b>Termination</b>
            <p>
              We may terminate or suspend access to our Service immediately,
              without prior notice or liability, for any reason whatsoever,
              including without limitation if you breach the Terms.
            </p>
            <p>
              All provisions of the Terms which by their nature should survive
              termination shall survive termination, including, without
              limitation, ownership provisions, warranty disclaimers, indemnity
              and limitations of liability.
            </p>
            <p>
              We may terminate or suspend your account immediately, without
              prior notice or liability, for any reason whatsoever, including
              without limitation if you breach the Terms.
            </p>
            <p>
              Upon termination, your right to use the Service will immediately
              cease. If you wish to terminate your account, you may simply
              discontinue using the Service.
            </p>
            <p>
              All provisions of the Terms which by their nature should survive
              termination shall survive termination, including, without
              limitation, ownership provisions, warranty disclaimers, indemnity
              and limitations of liability.
            </p>

            <b>Governing Law</b>
            <p>
              These Terms shall be governed and construed in accordance with the
              laws of Ontario, Canada, without regard to its conflict of law
              provisions.
            </p>
            <p>
              Our failure to enforce any right or provision of these Terms will
              not be considered a waiver of those rights. If any provision of
              these Terms is held to be invalid or unenforceable by a court, the
              remaining provisions of these Terms will remain in effect. These
              Terms constitute the entire agreement between us regarding our
              Service, and supersede and replace any prior agreements we might
              have between us regarding the Service.
            </p>

            <b>Changes</b>
            <p>
              We reserve the right, at our sole discretion, to modify or replace
              these Terms at any time. If a revision is material we will try to
              provide at least 30 days notice prior to any new terms taking
              effect. What constitutes a material change will be determined at
              our sole discretion.
            </p>
            <p>
              By continuing to access or use our Service after those revisions
              become effective, you agree to be bound by the revised terms. If
              you do not agree to the new terms, please stop using the Service.
            </p>

            <b>Contact Us</b>
            <p>
              If you have any questions about these Terms, please contact us.
            </p>
          </div>
          <div class="validation-wraper">
            <p *ngIf="checkbox.errors?.unChecked && checkbox.touched">
              You must agree with the Terms of Service
            </p>
          </div>
          <br />
          <!-- Sign Up Button -->
          <button
            id="signup-btn"
            type="submit"
            mat-button
            mat-raised-button
            color="primary"
            (click)="signup(email, password, username, false, mode)"
          >
            SIGN UP
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
