.container > * {
  width: 100%;
}

#signup-btn {
  width: 100%;
  font-size: 15px;
  margin-top: 5px;
}

mat-radio-button {
  padding-right: 15px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

#tos {
  overflow-y: scroll;
  height: 100px;
}

@media screen and (max-width: 480px) {
  #tos {
    height: 40px;
  }
}
