<nav class="navbar navbar-expand-lg navbar-dark bg-dark mat-elevation-z8">
  <div class="container">
    <a class="navbar-brand" href="#">JC Consulting</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExample07"
      aria-controls="navbarsExample07"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active"
            >Contact</a
          >
        </li>
      </ul>

      <ul class="navbar-nav" *ngIf="token; else elseBlock">
        <li class="nav-item">
          <a class="nav-link" [matMenuTriggerFor]="profile">{{
            this.token.username
          }}</a>
          <mat-menu #profile="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Setting</button>
            <button mat-menu-item (click)="onNavigate()">Manage Job</button>
            <button mat-menu-item (click)="onRegisterCompany()">
              Register Company
            </button>
            <button mat-menu-item (click)="logout()">Log out</button>
          </mat-menu>
        </li>
      </ul>
      <!--Else Template-->
      <ng-template #elseBlock>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" (click)="openDialog()"
              >Login
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLinkActive="active"
              (click)="openRegisterDialog()"
              >Signup
            </a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
<br /><br />
