<navbar></navbar>
<br><br>
<div class="wraper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
    <mat-card-content>
      <mat-nav-list>

        <mat-list-item>
          <h4>Username: </h4>
          <div class="spacer"></div>
          <p>{{username}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Education: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Occupation: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Email: </h4>
          <div class="spacer"></div>
          <p>{{email}}</p>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Skills: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Connections: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Phone Number: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>LinkedIn: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <mat-list-item>
          <h4>Date Of Birth: </h4>
        </mat-list-item>

        <mat-divider></mat-divider>
        <br>
        <div id="edit">
          <button mat-button class="button-style mat-elevation-z8">Edit Profile</button>
        </div>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>

<footer></footer>