<div class="wraper" fxLayoutAlign="center center">
  <mat-card>
    <loader></loader>
    <mat-card-header>
      <mat-card-title>
        Please enter your email or username and we will send you the link to
        reset your password
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form autocomplete="off">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Email address/username"
            #input
          />
        </mat-form-field>
        <div class="validation-wraper">
          <div>{{ errMsg }}</div>
        </div>
      </form>
      <button
        mat-button
        class="submit-btn mat-elevation-z8"
        (click)="send(input.value)"
      >
        Send email to this account
      </button>
    </mat-card-content>
  </mat-card>
</div>
