.wraper {
  padding: 70px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 480px) {
  .wraper {
    width: 100%;
    padding: 70px 10px 70px 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .wraper {
    width: 100%;
  }
}
