#block-1 {
    background-image: url(../../assets/IB-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    padding-left: 50px;
}

#block-2 {
    background-image: url(../../assets/IB-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}

nav {
    height: 70px;
}


:host {
    width: 100%;
    height: 100%;
    display: block;
}
