<mat-toolbar color="primary">
  <span class="fill-remaining-space" *ngFor="let data of job">
    {{ data.jobTitle }} Details</span
  >
</mat-toolbar>
<br />
<div fxLayout="row wrap" fxLayoutAlign="center center">
  <mat-card class="left">
    <mat-card-content>
      <div class="container">
        <p *ngFor="let data of job"><b>Status:</b> {{ data.jobStatus }}</p>
        <p *ngFor="let data of job"><b>Positions:</b> {{ data.jobPosition }}</p>
        <p *ngFor="let data of job">
          <b>Closing Date:</b> {{ data.jobEndDate }}
        </p>
        <p *ngFor="let data of job">
          <b>Description:</b><br />{{ data.jobDescription }}
        </p>
      </div>

      <button
        mat-flat-button
        class="mat-elevation-z8"
        color="accent"
        *ngFor="let data of job"
        (click)="match(data._id)"
      >
        Match
      </button>
      <button
        mat-flat-button
        class="mat-elevation-z8"
        color="accent"
        (click)="back()"
      >
        Back
      </button>
    </mat-card-content>
  </mat-card>
  <mat-card class="right">
    <div class="container">
      <p class="match"><b>Matches:</b></p>
      <ul></ul>
    </div>
  </mat-card>
</div>
<br />
