<!--
                <img mat-card-lg-image src="/assets/profile.jpg" />
                <a href="#"> Change picture</a>

              <h3>John Doe</h3>
              <h5>Student</h5>

              <mat-list>
                <h5>SUGGESTED JOBS</h5>
                <mat-list-item> Full Stack Developer</mat-list-item>
                <mat-list-item> Software Engineer </mat-list-item>
                <mat-list-item> QA Analyst</mat-list-item>
              </mat-list>

              <mat-tab-group>
                <mat-tab label="About">
                  <mat-list>
                    <mat-list-item>First Name: John</mat-list-item>
                    <mat-list-item>Last Name: Doe</mat-list-item>
                    <mat-list-item
                      >Education: Ontario College Advanced Diploma</mat-list-item
                    >
                    <mat-list-item>Occupation: Student</mat-list-item>
                    <mat-list-item>Phone Number: (416) 509-6995</mat-list-item>
                    <mat-list-item>Address: 160 Kendal Ave </mat-list-item>
                    <mat-list-item>City: Toronto</mat-list-item>
                    <mat-list-item>Province: Ontario</mat-list-item>
                    <mat-list-item>Postal Code: M5R 1M3</mat-list-item>
                  </mat-list>
                </mat-tab>
                <mat-tab label="Applied Jobs"> Jobs that have been applied </mat-tab>
                <mat-tab label="Saved Jobs">
                  Favorite jobs will be saved here
                </mat-tab>
                <mat-tab label="Favorite Company"> Your favorite Company </mat-tab>
              </mat-tab-group>

              <mat-list>
                <h5>RELEVANT JOBS</h5>
                <mat-list-item> Frontend Developer</mat-list-item>
                <mat-list-item> Java Developer</mat-list-item>
                <mat-list-item> iOS Developer</mat-list-item>
              </mat-list>  -->

<div id="body" [@slideUp]="state">
  <h1>Profile</h1>
  <div class="tile">
    <div class="item">
      <img mat-card-lg-image [src]="avatarUrl | async" class="avatar" />
      <a href="#"><mat-icon>edit</mat-icon></a>
    </div>
    <div class="item" *ngIf="this.token.details">
      <h3>
        {{ this.token.details.canFirstName }}
        {{ this.token.details.canLastName }}
      </h3>
      <h5>{{ this.token.details.canActualJob }}</h5>
    </div>
  </div>
  <mat-divider color="primary"></mat-divider>

  <div class="tile">
    <div class="item" id="jobs">
      <mat-list>
        <h5>SUGGESTED JOBS</h5>
        <mat-list-item> Full Stack Developer</mat-list-item>
        <mat-list-item> Software Engineer </mat-list-item>
        <mat-list-item> QA Analyst</mat-list-item>
      </mat-list>

      <mat-list>
        <h5>RELEVANT JOBS</h5>
        <mat-list-item> Frontend Developer</mat-list-item>
        <mat-list-item> Java Developer</mat-list-item>
        <mat-list-item> iOS Developer</mat-list-item>
      </mat-list>
    </div>
    <div class="item" id="info">
      <mat-tab-group>
        <mat-tab label="About">
          <mat-list>
            <mat-list-item *ngFor="let info of canFragments">
              <span>{{ info.desc }}</span> {{ info.val }}
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Applied Jobs"> Jobs that have been applied </mat-tab>
        <mat-tab label="Saved Jobs">
          Favorite jobs will be saved here
        </mat-tab>
        <mat-tab label="Favorite Company"> Your favorite Company </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  <mat-divider color="primary"></mat-divider>
  <div class="tile">
    <div class="item">
      <button
        [routerLink]="['../edit_profile']"
        mat-button
        mat-raised-button
        color="primary"
      >
        Edit Profile
      </button>
    </div>
    <div class="item">
      <button (click)="navigate('back')" mat-button mat-raised-button>
        Back
      </button>
    </div>
  </div>
</div>

<!-- Company side -->
<div id="body" [@slideUp]="state" *ngIf="!isCandidate">
  <h1>Profile</h1>
  <div class="tile">
    <div class="item">
      <img mat-card-lg-image src="/assets/profile.jpg" class="avatar" />
      <a href="#"><mat-icon>edit</mat-icon></a>
    </div>
    <div class="item" *ngIf="this.token.details">
      <h3>{{ this.token.details.compName }}</h3>
    </div>
  </div>
  <mat-divider color="primary"></mat-divider>

  <div class="tile">
    <div class="item" id="jobs">
      <mat-list>
        <h5>SUGGESTED JOBS</h5>
        <mat-list-item> Full Stack Developer</mat-list-item>
        <mat-list-item> Software Engineer </mat-list-item>
        <mat-list-item> QA Analyst</mat-list-item>
      </mat-list>

      <mat-list>
        <h5>RELEVANT JOBS</h5>
        <mat-list-item> Frontend Developer</mat-list-item>
        <mat-list-item> Java Developer</mat-list-item>
        <mat-list-item> iOS Developer</mat-list-item>
      </mat-list>
    </div>
    <div class="item" id="info">
      <mat-tab-group>
        <mat-tab label="About">
          <mat-list *ngIf="this.token && this.token.details">
            <mat-list-item *ngFor="let info of compFragments">
              <span>{{ info.desc }}</span> {{ info.val }}
            </mat-list-item>
          </mat-list>
        </mat-tab>
        <mat-tab label="Created Jobs"> Jobs that have been created </mat-tab>
        <mat-tab label="Candidates">
          List of candidates who sent their resumes
        </mat-tab>
        <mat-tab label="Best match"
          >List of best matched candidates for the job</mat-tab
        >
      </mat-tab-group>
    </div>
  </div>
  <mat-divider color="primary"></mat-divider>
  <div class="tile">
    <div class="item">
      <button
        (click)="navigate('edit')"
        mat-button
        mat-raised-button
        color="primary"
      >
        Edit Profile
      </button>
    </div>
    <div class="item">
      <button (click)="navigate('back')" mat-button mat-raised-button>
        Back
      </button>
    </div>
  </div>
</div>
