<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top">
  <a class="navbar-brand" href="#"><span id="title">JC Consulting</span></a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"><span class="link-text">Home</span> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> <span class="link-text">About Us</span></a>
      </li>
    </ul>
  </div>
  <div>
    <button id="login" class="btn btn-lg" routerLink="/login">Login</button>
    <button id="signup" class="btn btn-lg shadow" routerLink="signup">Sign Up</button>
  </div>
</nav>