<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row fxLayout="row wrap" fxLayoutGap="20px">
    <span routerLink="/home">Home</span>
    <p>About us</p>
    <p routerLink="/contact">Contact us</p>
    <span class="spacer"></span>
    <button id="profile-btn" mat-button [matMenuTriggerFor]="profile">{{this.token.username}}</button>
    <mat-menu #profile="matMenu" class="mat-elevation-z8">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item>Setting</button>
      <button mat-button (click)="logout()" >Log out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>