<div class="wraper" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-content>
      <h4>Forgot your password? Please enter your email or username and we will send you the link to reset your password</h4>
      <form autocomplete="off">
        <mat-form-field>
          <input matInput type="text" placeholder="Email address/username" #input>
        </mat-form-field>
        <div class="validation-wraper">
          <div>{{errMsg}}</div>
        </div>
      </form>
      <button mat-button class="submit-btn mat-elevation-z8" (click)="send(input.value)">Send email to this account</button>
    </mat-card-content>
  </mat-card>
</div>