<br /><br />
<mat-card class="container">
  <div class="doublecomponent">
    <p>How companies and workers find each other.</p>
    Whether you're looking for your next model employee or dream job, JC
    Consulting will do the hard work for you with the experience and expertise
    you deserve.
  </div>
  <div class="doublecomponent">
    <img src="../../../assets/testPhoto.jpg" />
  </div>
</mat-card>
<br />
<mat-card class="container">
  <div class="singlecomponent">
    <p>About Us</p>
    JC Consulting is a boutique recruitment, professional services, and support
    organization supporting Technology Solutions Delivery. We were founded by
    industry professionals from the Banking/Fortune 500, and specialize in
    Project Delivery Management, Business Consulting and Analysis, Account and
    Product Management, and Solutions Architecture domains.
    <br />
    <ul>
      <li>Job-seekers and hiring managers to set up accounts.</li>
      <li>
        Employers could use the information that the core generates to
        accelerate the employing processes
      </li>
    </ul>
  </div>
</mat-card>
<br /><br />
