.logo {
  width: 20px;
  height: 20px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 13px;
}

ul {
  padding-left: 0;
}

.bg-info:last-child {
  border: 5px solid red;
}
