@import '~@angular/material/theming';

@mixin dialog-style($theme){

    $primary: map-get($theme, primary);
    $accent : map-get($theme, accent);
    $warn : map-get($theme , warn);

    .mat-dialog-container {
        padding: 0 !important;
    }
}