@import '~@angular/material/theming';

@mixin card-theme($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme , accent );

    div.mat-card-header-text { 
        margin: 0;
    }

    .mat-card {
        background-color:  #E0E0E0;
        width: 350px;
        height: 100%;
    }
    
}