@import '~@angular/material/theming';
@import '../custom-style/input-theme.scss';
@import '../custom-style/mat-card-style.scss';
@include mat-core();

$primary: mat-palette($mat-brown, 500, 700, 900);
$accent: mat-palette($mat-orange);
$warn: mat-palette($mat-brown, 500);

$custom-theme : mat-light-theme(
    $primary,
    $accent,
    $warn
);

@include angular-material-theme($custom-theme);
@include input-theme($custom-theme);
@include card-theme($custom-theme);
