span, p{
    cursor: pointer;
    color: white;
}

#profile-btn {
    color: white;
    font-size: 20px;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: rgba(0, 0,0, 0.5);
    position: fixed;
    z-index: 1;
}