:host {
    padding: 20px;
    padding-top: 40px;
    display: block;
    width: 33%;
}
.card {
    text-align: center;
}

.wraper {
    height: 10px;
    color: red;
    font-size: 11px;
}


.card-header {
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: #007E33;
}

#signup {
    background-color: #2E2E2E;
    color: white;
    width: 60%;
}
