.container > * {
  width: 100%;
}

mat-radio-button {
  padding-right: 20px;
}

.wraper {
  padding-top: 30px;
  padding-bottom: 70px;
}

button {
  background-color: #4285f4;
  width: 100%;
  color: white;
  font-size: 15px;
}
