<h4>Profile</h4>

<div class="tile setting">
  <div class="left">Name</div>
  <div class="right">Name</div>
</div>

<div class="tile setting">
  <div class="left">Address</div>
  <div class="right">Address</div>
</div>

<div class="tile setting">
  <div class="left">City</div>
  <div class="right">City</div>
</div>

<div class="tile setting">
  <div class="left">Province</div>
  <div class="right">Province</div>
</div>

<div class="tile setting">
  <div class="left">Postal Code</div>
  <div class="right">Postal Code</div>
</div>

<div class="tile setting">
  <div class="left">Phone Number</div>
  <div class="right">Phone Number</div>
</div>
