<div class="wraper">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Send us a message</mat-card-title>
  </mat-card-header>
    <form autocomplete="off">
      <div class="container">
        <!-- Name -->
        <mat-form-field>
          <input matInput type="text" placeholder="Name">
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Email -->
        <mat-form-field>
          <input matInput type="text" placeholder="Email">
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Mobile -->
        <mat-form-field>
          <input matInput type="text" placeholder="Mobile">
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Mode -->
        <label for="mode"><h6>Prefered mode of communication</h6></label>
        <mat-radio-group id="mode">
          <mat-radio-button *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-radio-button>
        </mat-radio-group>
        <div class="validation-wraper"></div>
        <!-- Message -->
        <mat-form-field>
          <input matInput type="text" maxlength="256" placeholder="Message" #message/>
          <mat-hint align="end">{{message.value.length}}/256</mat-hint>
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Submit -->
        <button mat-button>SUBMIT</button>
      </div>
    </form>
  </mat-card>
</div>
<footer></footer>