<form>
  <div class="flex-container">
    <div class="head-div">
      <div class="vertical-flex-container">
        <h2>Profile</h2>
        <div class="img-center">
          <img mat-card-lg-image src="/assets/profile.jpg" />
        </div>
        <a href="#"> Change Profile Picture</a>
      </div>
    </div>
    <div class="body-div">
      <mat-form-field>
        <mat-label> First Name </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Last Name </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Education </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Occupation </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> LinkedIn URL </mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="body-div">
      <mat-form-field>
        <mat-label> Phone Number </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Address </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> City </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Province </mat-label>
        <input matInput type="text" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> Postal Code </mat-label>
        <input matInput type="text" />
      </mat-form-field>
    </div>
    <div class="foot-div">
      <div class="horizontal-flex-container">
        <button
          class="update-btn"
          color="primary"
          mat-flat-button
          class="mat-elevation-z8"
        >
          Update
        </button>
        <button mat-flat-button class="mat-elevation-z8" color="accent">
          Cancel
        </button>
      </div>
    </div>
  </div>
</form>
