.flex-container {
  min-width: 350px;
  width: 50%;
  min-height: 600px;
  margin: 2% auto;
  display: flex;
  background-color: #eaeff7;
  flex-wrap: wrap;
  border-radius: 10%;
  text-align: center;
}

.flex-container > .head-div {
  width: 100%;
  // height: 280px;
}

.flex-container > .body-div {
  width: 70%;
  min-width: 350px;
  padding-top: 20px;
  text-align: center;
  // padding-left: 15%;
  margin: 0 auto;
}

.vertical-flex-container {
  width: 30%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 170px;
  border-radius: 10%;
}

mat-form-field {
  width: 60%;
  margin-bottom: 10px;
}

.flex-container > .foot-div {
  min-width: 350px;
  height: 100px;
  width: 100%;
  margin: 2% auto;
  display: flex;
  align-items: center;
}

.foot-div > .horizontal-flex-container {
  min-width: 300px;
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  display: inline-block;
  margin-left: 40px;
  width: 100px;
}

.update-btn {
  background-color: green;
}

mat-error {
  color: red;
}

mat-label {
  font-size: 20px;
}

input {
  font-size: 15px;
}
