<br>
<div class="wraper" fxLayout="column" fxLayoutAlign="center center">
<mat-card class="mat-elevation-z8">
  <form autocomplete="off">
    <div class="container">
      <!-- Login Input-->
      <mat-form-field>
        <input matInput color="primary" type="text" placeholder="Login">
      </mat-form-field>
      <div class="validation-wraper"></div>
      <!-- Password Input -->
      <mat-form-field>
        <input matInput type="text" placeholder="Password">
      </mat-form-field>
      <div class="validation-wraper"></div>
      <!-- Login Button, Signup Button -->
      <div id="login-btn">
        <button class="button-style mat-elevation-z8" mat-button>LOGIN</button>
      </div>
      <br>
      <div id="signup-btn">
      <button routerLink="/register" class="button-style mat-elevation-z8" mat-button mat-elevation-z8>SIGN UP</button>
      </div>
      <br>
      <a href="#">Forgot Your Password?</a>
    </div>
  </form>
</mat-card>
</div>
<br>
<footer></footer>
