/* You can add global styles to this file, and also import other style files */
@import './app/custom-style/theme.scss';


@font-face {
    font-family: "NotoSans";
    src : url("./assets/fonts/Roboto-Regular.ttf");
}

body {
    margin: 0 auto;
    font-family: 'NotoSans';
}

