
<div class="wraper background" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Send us a message</mat-card-title>
    </mat-card-header>
    <form autocomplete="off">
      <div class="container">
        <!-- Name -->
        <mat-form-field>
          <input matInput type="text" placeholder="Name">
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Email -->
        <mat-form-field>
          <input matInput type="text" placeholder="Email">
        </mat-form-field>
        <div class="validation-wraper"></div>
        <!-- Mobile -->
        <mat-form-field>
          <input matInput type="text" placeholder="Mobile">
        </mat-form-field>
        <!-- Mode -->
        <label for="mode"><h6>Prefered mode of communication</h6></label>
        <mat-radio-group id="mode">
          <mat-radio-button [value]="modes[0]" checked>{{modes[0]}}</mat-radio-button>
          <mat-radio-button [value]="modes[1]">{{modes[1]}}</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <!-- Message -->
        <mat-form-field>
          <textarea matInput type="text" maxlength="256" placeholder="Leave a comment" #message></textarea>
          <mat-hint align="end">{{message.value.length}}/256</mat-hint>
        </mat-form-field>
        <div class="validation-wraper"></div>
        <br>
        <!-- Submit -->
        <button mat-button class="mat-elevation-z8">SUBMIT</button>
      </div>
    </form>
  </mat-card>
</div>
