<h1>Job Table</h1>
<div id="container">
  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let data">{{ data._id }}</td>
      </ng-container>

      <ng-container matColumnDef="jobStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let data">{{ data.jobStatus }}</td>
      </ng-container>

      <ng-container matColumnDef="jobPostDate">
        <th mat-header-cell *matHeaderCellDef>Date of Posting</th>
        <td mat-cell *matCellDef="let data">{{ data.jobPostDate }}</td>
      </ng-container>

      <ng-container matColumnDef="jobEndDate">
        <th mat-header-cell *matHeaderCellDef>Date expired</th>
        <td mat-cell *matCellDef="let data">{{ data.jobEndDate }}</td>
      </ng-container>

      <ng-container matColumnDef="jobPositions">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let data">{{ data.jobPosition }}</td>
      </ng-container>

      <ng-container matColumnDef="jobDescription">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let data">{{ data.jobDescription }}</td>
      </ng-container>

      <ng-container matColumnDef="jobActivate">
        <th mat-header-cell *matHeaderCellDef>Activation</th>
        <td mat-cell *matCellDef="let data">{{ data.jobActivate }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let data">{{ data.actions }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>

  <!-- <div class="search-div">
      <button mat-raised-button (click)="onCreate()">
        <mat-icon>add</mat-icon>Add Job
      </button>
      <mat-form-field class="search-form-field" floatLabel="never">
        <input
          matInput
          [(ngModel)]="searchKey"
          placeholder="Search"
          autocomplete="off"
          (keyup)="applyFilter()"
        />
      </mat-form-field>
      <button
        mat-button
        matSuffix
        mat-icon-button
        ariel-label="Clear"
        *ngIf="searchKey"
        (click)="onSearchClear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data._id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobPostDate">
        <mat-header-cell *matHeaderCellDef> Date of Posting </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobPostDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobStatus">
        <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobStatus }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobActivate">
        <mat-header-cell *matHeaderCellDef> Activation </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobActivate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobEndDate">
        <mat-header-cell *matHeaderCellDef> Expired Date </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobEndDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobPositions">
        <mat-header-cell *matHeaderCellDef> Position </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobPosition }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobDescription">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Description
        </mat-header-cell>
        <mat-cell *matCellDef="let data">{{ data.jobDescription }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns"></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator> -->
</div>
