.container > * {
  width: auto;
}

.wraper {
  text-align: center;
  font-size: 16px;
  width: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
.button-style {
  width: auto;
  height: 50px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  color: white;
  background-color: darkblue;
}
.button-style1 {
  width: auto;
  height: 35px;
  font-size: 10px;
  color: white;
  background-color: darkblue;
  margin-left: 10px;
}
a {
  font-size: 14px;
  cursor: pointer;
}

mat-card-content {
  width: 100%;
  margin-left: 80px;
  padding: 10px;
}
th.mat-sort-header-sorted {
  color: black;
}
mat-card {
  width: 1400px;
}

mat-table {
  width: 80%;
  padding: 5px;
}
//color rows
.mat-row:nth-child(even) {
  background-color: whitesmoke;
}

.mat-row:nth-child(odd) {
  background-color: lightgray;
}
/* Filter Controls*/

.search-div {
  margin: 10px;
}
.search-div button a {
  text-decoration-line: none;
}
.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}
