<div id="body" [@slideUp]="state">
  <h1>Company List</h1>
  <div class="tile">
    <mat-form-field class="search-form-field" floatLabel="never">
      <input
        matInput
        [(ngModel)]="searchKey"
        placeholder="Search"
        autocomplete="off"
        (keyup)="applyFilter()"
      />
    </mat-form-field>
  </div>

  <div class="tile" id="container">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container hidden matColumnDef="_id">
        <th mat-header-cell hidden *matHeaderCellDef>
          ID
        </th>
        <td mat-cell hidden *matCellDef="let data">{{ data.details._id }}</td>
      </ng-container>

      <ng-container matColumnDef="compName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Organization
        </th>
        <td mat-cell *matCellDef="let data">{{ data.details.compName }}</td>
      </ng-container>

      <ng-container matColumnDef="compCRANumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          CRA Number
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.details.compCRANumber }}
        </td>
      </ng-container>

      <ng-container matColumnDef="compAddress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Address
        </th>
        <td mat-cell *matCellDef="let data">{{ data.details.compAddress }}</td>
      </ng-container>

      <ng-container matColumnDef="compCity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          City
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.details.compCity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="compCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Code
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.details.compCode }}
        </td>
      </ng-container>

      <ng-container matColumnDef="compProvince">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Province
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.details.compProvince }}
        </td>
      </ng-container>

      <ng-container matColumnDef="compPhone">
        <th mat-header-cell *matHeaderCellDef>
          Phone
        </th>
        <td mat-cell class="colum-size" *matCellDef="let data">
          {{ data.details.compPhone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="compContact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Contact
        </th>
        <td mat-cell *matCellDef="let data">
          {{ data.details.compContact }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>
          Actions
        </th>
        <td mat-cell id="btns" *matCellDef="let row">
          <button mat-icon-button (click)="onEdit(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
    </table>
  </div>
  <div class="tile">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
    </mat-paginator>
  </div>
  <div class="tile">
    <button mat-button mat-raised-button (click)="goBack()">Back</button>
  </div>
  <div class="tile"></div>
</div>
