.container > * {
  width: auto;
}

.wraper {
  text-align: center;
  font-size: 16px;
  width: auto;
  padding-top: 50px;
  padding-bottom: 70px;
}
.button-style {
  width: auto;
  height: 50px;
  padding: 10px;
  margin: 10px;
  font-size: 15px;
  color: white;
  background-color: darkblue;
}
.button-style1 {
  width: auto;
  height: 35px;
  font-size: 10px;
  color: white;
  background-color: darkblue;
  margin-left: 10px;
}
a {
  font-size: 14px;
  cursor: pointer;
}

mat-card-content {
  width: 1300px;
}
th.mat-sort-header-sorted {
  color: black;
}
mat-card {
  width: 1400px;
}

mat-table {
  width: 1300px;
}
